/*---------------------------------------general styles---------------------------------------------*/
:root {
    --h2-colour: #f54e99;    
    --background-body: rgb(0, 0, 0);
    --background-shadowModal: rgba(0, 0, 0, 0.5);
    --background-modal: #18181b;

    --background-addButton: #db2777;
    --add-button-text: white;
    --add-button: rgb(248, 97, 167);
    --background-btnModal: #db2777;    
    --i-color: rgb(247, 240, 240);   
    
    --color-modal: #db2777;   
    --modal-input: #27272a;

    --pink: #ff0073;
    --black: rgb(0, 0, 0);
    --white: white;
    --purple: rgb(60, 32, 48);
    --grey: #555;
    --dark-grey: #27272a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background-body);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*--------------------------------------------body-------------------------------------------------*/

main {
    display: flex;
    justify-content: center;    
    align-items: center;
}

/*----------------------------header styles---------------------------*/
header {
    width: 100%;
    height: 25%;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 20px;
    position: fixed;
    z-index: 5;
}

.logo {
    width: 200px;
}

header h2 {
font-size: 60px;
margin-right: 95px;
color:var(--h2-colour);
animation: neon-flicker 1.5s infinite alternate;
}

@keyframes neon-flicker {
0% { opacity: 1; text-shadow: 0 0 5px var(--pink), 0 0 10px var(--pink), 0 0 20px ; }
50% { opacity: 0.8; text-shadow: 0 0 4px var(--pink), 0 0 8px var(--pink), 0 0 16px ; }
100% { opacity: 1; text-shadow: 0 0 5px var(--pink), 0 0 10px var(--pink), 0 0 20px ; }
}
.add-button {
    height: 50px;
    width: 120px;
    background-color: var(--background-addButton);
    color: var(--add-button-text);
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.add-button:hover {
    box-shadow: 0px 5px 20px 0px var(--add-button);
}

button:hover {
    cursor: pointer;
}

/*---------------------------cards container-------------------------*/

.section {    
    display: flex;
    flex:1;
    flex-wrap: wrap;
    margin: 10% auto 10% 7%;
    gap: 2em;
    justify-content: flex-start;
    margin-top: 20em;    
}

/*------------------------card-------------------------*/

article {       
    min-width: 300px;
    min-height: 350px;    
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;           
    border: .5px solid var(--purple);
}

article:hover {
    box-shadow: 0px 1px 10px 0px var(--pink);
}

.controls {
    width: 180px;
    height: 20px;
}

.cover {
    width: 300px;
    height: 300px;
    border-radius: 20px;    
}

.shadow {
    background: linear-gradient(to bottom, rgba(242, 238, 238, 0) 30%, rgba(0, 0, 0, 1) 80%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;   
    z-index: 2;
    border-radius: 20px;    
}

.settings {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px 10px 0 0;
    z-index: 3;
}

.btnModify, .btnDelete {
    color: var(--white);   
    font-size: 18px;  
    stroke: var(--black);  
    stroke-width: 0.3;
}

.settings button {
    background-color: transparent;
    border: none;    
}

.song-properties {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--white);
    margin: 0 0 10px 10px;
    z-index: 3;
}

/*-------------------------------modal styles----------------------------*/

#shadowModal {
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 6;
    position: fixed;
    background-color: var(--background-shadowModal);
    backdrop-filter: blur(10px);
}   

.modal {
    min-width: 30vw; 
    max-height: 90vh;
    min-height: fit-content;
    background-color: var(--background-modal);
    z-index: 6;
    position: fixed;
    border-radius: 10px;
    display: none;
    color: var(--color-modal);
    border: 0.1px solid var(--pink);
    top: 5%;
    overflow-y: auto;
}

.modal::-webkit-scrollbar {
    display: none;
}

.modal form {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.563em;
}

.modal h4{
    font-size: 1.875em;
    align-self: self-start;
    padding-top: 3rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    margin-bottom: 1.5em;
    margin-left: 0.5em; 
}

.close-tag {
    border: none;
    background-color: transparent;
    color:var(--pink);
    font-size: 1.875em;
}

.modal label {
    color: (--white);
    align-self: self-start;
    margin-left: 0.5em;
}

.modal input {
    background-color: var(--modal-input);
    width: 95%;
    height: 2.3em;
    border: 1px solid var(--grey);
    border-radius: 5px;    
    color: var(--white); 
    margin-bottom: 1.875em;
}

.modal input[type=text]:focus {
    border: 1px solid var(--white);
}

.modal select {
    background-color: var(--dark-grey);
    width: 95%;
    height: 2.4em;
    border: 1px solid var(--grey);
    border-radius: 5px;    
    color: var(--white); 
    margin-bottom: 1.875em;
}

.btnModal {
    height: 2.8em;
    width: 95%;
    border-radius: 5px;
    background-color: var(--background-btnModal);
    border: none;
    color: white;
    margin-top: 0.938em;
    margin-bottom: 5rem;
}

.pop-up p {
    margin: 10px;
    color: var(--pink)
}

.popup-buttons-container {
    display: flex;
    justify-content: space-between;
    padding:5px;
}

.pop-up-buttons {
    min-height: 20px;
    min-width: 60px;
    padding: 8px;
    margin: 10px 30px;
    background-color: var(--background-addButton);
    color: var(--white);
    border-radius: 10px;
    border: none;
}

/*------------------------------------------------------footer styles--------------------------------------*/

footer {
    width: 100%;
    height: 8%;
    background-color: var(--black);
    color: var(--white);
    position: fixed;
    bottom: 0;
    padding: 30px;
    text-align: center;
    z-index: 5;
}

/*----------------------------------------------------media querys------------------------------------------*/

/*---------movil----------*/
@media (max-width: 767px) {

    header {
        padding: 0 20px 0 20px;
    }

    .logo {
        display: none;
    }

    header h2 {
        font-size: 30px;
        margin: 0 1.2em 0 .8em;

    }

    .add-button {
        min-height: 15px;
        min-width: 100px; 
        margin-left: 1em;  
        margin-right: 1em; 
    }

    .add-button i {
        font-size:15px;
        text-align: center;
    }

    .add-button p{
        font-size: 15px;
    }

    .section {
        padding: 0 1em; 
        margin-top: 15em;    
        margin-bottom: 7rem;       
    }
    
    article {
        margin-right: 0;
    }    
}

/*-------------tablet----------*/
@media (min-width: 768px) and (max-width: 1024px) {

header {
    padding: 0 30px 0 20px;
}
    .logo {
        width: 140px;
    }

    header h2 {
        font-size: 43px;
        margin-right: 20px;
    }

    .add-button {
        height: 50px;
        width: 100px;
    }

    .section {
        margin-top: 18rem;
        gap: 3rem;
        padding: 2rem;
        justify-content: flex-start;  
        margin: 35% auto 10% 4%;             
    }

    article {
        min-width: 45%;
    }
}

/*---------------pantallas peq--------------*/
@media (min-width: 1024px) and (max-width: 1690px) {

    header {
        padding-top:15px;
        height: 20%;
    }

    header h2 {
        font-size: 60px;
        margin-right: 20px;         
    }

    .section {
        margin-top: 18rem;
        gap: 2rem;
        padding: 2rem;
        padding-top: 0.5rem;
        justify-content: flex-start; 
        margin: 16% auto 10% 5%;             
    }    
    article {
        min-width: 30%;
        min-height: 310px;
    }

    footer {
        height: 10%;
    }
}




