/*---------------------------------------general styles---------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*--------------------------------------------body-------------------------------------------------*/

header {
    width: 100%;
    height: 25%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 20px;
    position: fixed;
    z-index: 5;
}

header h2 {
    font-size: 60px;
    margin-right: 95px;
color:#f54e99;
/* text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000; */

animation: neon-flicker 1.5s infinite alternate;
}

@keyframes neon-flicker {
0% { opacity: 1; text-shadow: 0 0 5px #ff0073, 0 0 10px #ff0073, 0 0 20px #ff0073; }
50% { opacity: 0.8; text-shadow: 0 0 4px #ff0073, 0 0 8px #ff0073, 0 0 16px #ff0073; }
100% { opacity: 1; text-shadow: 0 0 5px #ff0073, 0 0 10px #ff0073, 0 0 20px #ff0073; }
}

button:hover {
    cursor: pointer;
}

.add-button {
    height: 50px;
    width: 120px;
    background-color: #db2777;
    color: white;
    border-radius: 10px;
    border: none;
}

.add-button:hover {
    box-shadow: 0px 5px 20px 0px #ff0073;
}


.logo {
    width: 200px;
}

main {
    /* height: 92vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    bottom: 0;
    padding: 30px;
    text-align: center;
    z-index: 5;
}

.section {
    width: 95%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 10px;
    justify-content: space-between;
    margin-top: 230px;
}

article {       
    width: calc(25% - 10px);
    height: 350px;    
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 10px;
}

.controls {
    width: 180px;
    height: 20px;
}

.cover {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 3px solid black;
}

.shadow {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 1) 80%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;   
    z-index: 2;
    border-radius: 20px;    
}

.settings {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px 10px 0 0;
    z-index: 3;
}

.settings i {
    color: rgb(168, 33, 105);
    font-size: 17px;
    border: black;
}

.settings button {
    background-color: transparent;
    border: none;    
}

.song-properties {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin: 0 0 10px 10px;
    z-index: 3;
}

.modal {
    width: 425px;
    height: 700px;
    background-color: #18181b;
    z-index: 6;
    position: fixed;
    border-radius: 10px;
    display: none;
    color: #db2777;
    border: 0.1px solid #db2777;
    padding: 25px;
    box-sizing: border-box;
    top: 5%;
}

#shadowModal {
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 6;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}   

.modal h4{
    font-size: 30px;
}

.modal label {
    color: white;
   bottom: 0;
   margin-top: 20px;
   margin-bottom: -15px;
}

.close-tag {
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 20px 20px 0 0;
    border: none;
    background-color: transparent;
    color:#db2777;
    font-size: 30px;
}


.modal input {
    background-color: #27272a;
    width: 350px;
    height: 40px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;    
    color: white;    
}

#genre {
    background-color: #27272a;
    height: 40px;
    border-radius: 5px;
    color: white;
}

.btnModal {
    height: 40px;
    border-radius: 5px;
    background-color: #db2777;
    border: none;
    color: white;
}

.modal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

